  
  <div class="field">
  <label>Task description</label><br>
  <%= f.text_field :content %>
  </div>

  <div class="field">
  <%= f.collection_select :section_id, sections, :id, :name, include_blank: "Select a Section" %>
  </div>

  <div class="field">
  <label for="deadline">Goal Date</label><br>
  <%= f.date_field :deadline %>
  </div>

  <%= f.fields_for :assignment do |a| %>
  <div class="field">
  <%= a.collection_select :user_id, collaborators, :id, :first_name, include_blank: "Assign to a Collaborator" %>
  <% end %>
  </div>

