<td>
  <div class="icon-container">
    <%# task complete button %>
    <% if t.status == "complete" %>
      <div class="completed icon"></div>
    <% else %>
        <%= render partial: '/tasks/complete_button', locals: { task: t, project: project } %>
    <% end %>
  </div>
</td>

<td>
  <div class="icon-container">
    <%= t.content %>
    <% unless project.managers_plus.exclude?(current_user) %>
      <%# task edit button %>
      <%= render partial: '/tasks/edit_button', locals: { task: t, project: project }%>
      <%# task delete button %>
      <%= render partial: '/tasks/delete_button', locals: { task: t, project: project } %>
    <% end %>
  </div>
</td>

<td>
<% if t.deadline %>
  <%= t.human_time%>
<% end %>
</td>

<td>
  <% if t.assignment %>
    <%= t.assignment.user.display_name %>
  <% elsif t.status == "open" %>
    <%= form_with model: assignment, url: '/assignments' do |f| %>
      <%= f.hidden_field :task_id, value: t.id %>
      <%= f.collection_select :user_id, collaborators, :id, :first_name %>
      <%= f.submit "Assign" %>
    <% end %>
  <% end %>
</td>