<td>
  <div class="icon-container">
    <%# task complete button %>
    <%= render partial: '/tasks/complete_button', locals: { task: t, project: t.project } %>
  </div>
</td>

<td>
  <div class="icon-container">
    <% unless t.project.managers_plus.exclude?(current_user) %>
      <%= t.content %>
      <%# task edit button %>
      <%= render partial: '/tasks/edit_button', locals: { task: t } %>
      <%# task delete button %>
      <%= render partial: '/tasks/delete_button', locals: { task: t, project: t.project }%>
    <% end %>
  </div>
</td>

<td>
  <%= link_to t.project.title, project_path(t.project) %> 
</td>

<td>
<% if t.deadline %>
  <%= t.human_time%>
<% end %>
</td>