<h1>Add a Task <% if @section %><%= "to #{@section.name}" %><% end %></h1>

<%= render partial: '/layouts/flash_message_center' %>

<%= form_with(model: @task, url: [@project, @task], local: true) do |f| %>

  <%= render partial: 'form', locals: {f: f, sections: @project.sections, collaborators: @collaborators} %>

  <%= f.hidden_field :project_id, value: @project.id %>

  <%= f.submit "Add Task"%>

<% end %>

<p>Back to <%= link_to @project.title, project_path(@project) %></p>