<h1>Add a Task <%= "to #{@section.name}" unless @section.name == nil %></h1>

<%= form_with(model: @task) do |f| %>

  <%= render partial: 'form', locals: {f: f, sections: @project.sections, collaborators: @collaborators} %>

  <%= f.hidden_field :project_id, value: @project.id %>

  <%= f.submit "Add Task"%>

<% end %>

<p>Back to <%= link_to @project.title, project_path(@project) %></p>