
    <div class="label">
        <%= f.label :email %>
    </div>

    <div class="field">
        <%= f.email_field :email %>
    </div>

    <div class="label">
        <%= f.label :first_name %>
    </div>

    <div class="field">
        <%= f.text_field :first_name %>
    </div>

    <div class="label">
        <%= f.label :last_name %>
    </div>

    <div class="field">
        <%= f.text_field :last_name %>
    </div>

    <div class="label">
        <%= f.label :timezone %>
    </div>

    <div class="field">
        <%= f.time_zone_select :timezone %>
    </div>
