<tr>
    <td class="col-1">
        <%= f.label :email %>
    </td>

    <td class="textbox">
        <%= f.text_field :email %>
    </td>
</tr>

<tr>
    <td class="col-1">
        <%= f.label :first_name %>
    </td>

    <td class="textbox">
        <%= f.text_field :first_name %>
    </td>
</tr>

<tr>
    <td class="col-1">
        <%= f.label :last_name %>
    </td>

    <td class="textbox">
        <%= f.text_field :last_name %>
    </td>
</tr>

<tr>
    <td class="col-1">
        <%= f.label :timezone %>
    </td>

    <td class="textbox">
        <%= f.time_zone_select :timezone %>
    </td>
</tr>