<h1>Create an Account</h1>
<p>Fill out the form below to make your account and get started with Tandem!</p>

<%= render partial: '/layouts/flash_message_center' %>

<%= form_for @user do |f| %>


<%= render partial: 'form', locals: { f: f } %>
    <div class="label">
        <%= f.label :password %>
    </div>

    <div class="field">
        <%= f.password_field :password %>
    </div>
    <div class="label">
        <%= f.label :password_confirmation %>
    </div>

    <div class="field">
        <%= f.password_field :password_confirmation %>
    </div>
   

 <%= f.submit "Create Account" %>
<% end %>

<%= link_to "Already have an account? Log in here.", login_path %>