<h1>Create a New Section</h1>

<%= render partial: '/layouts/flash_message_center' %>

<%= form_with(model: @section, url: [@project, @section], local: true) do |f| %>
  <div class='label'>
    <label>Name:</label>
  </div>

  <div class='field'>
  <%= f.text_field :name %>
  </div>

  <div class='field'>
  <%= f.hidden_field :project_id, value: @project.id %>
  </div>

  <%= f.submit "Add section" %>

<% end %>

<p>Back to <%= link_to @project.title, project_path(@project) %></p>