<h1><%= @project.title %></h1>
<%= @project.description %></p>
<p>Project Owners: 

<% @owners.each do |owner| %>
  <%= owner.full_name%><%= ", " unless owner == @owners.last%>
<% end %>
</p>

<%= link_to "Add a collaborator", project_permissions_path(@project) %>

<p>Due date: <%= @project.human_time %></p>

<h2>Tasks</h2>

<%= link_to "Add a task", new_project_task_path(@project) %>

<table>
<tr>
<th></th>
<th>Task</th>
<th>Deadline</th>
</tr>

<% @tasks.each do |t| %>
  <tr>
    <td>
    <%= link_to "Edit", edit_project_task_path(@project, t) %>
    </td>

    <td>
    <%= t.content %>
    </td>

    <td>
    <% if t.deadline %>
      <%= t.human_time%>
    <% end %>
    </td>
  </tr>
<% end %>
</table>