<h1><%= @project.title %></h1>
<%= @project.description %></p>
<p>Project Owners: 

<% @owners.each do |owner| %>
  <%= owner.full_name%><%= ", " unless owner == @owners.last%>
<% end %>
</p>

<%= link_to "View and add collaborators", project_permissions_path(@project) %>

<p>Due date: <%= @project.human_time %> -- <%= link_to "Edit project details", edit_project_path(@project) %></p>

<h2>Tasks</h2>

<%= link_to "Add a task", new_project_task_path(@project) %>

<table>
<tr>
<th></th>
<th>Task</th>
<th>Deadline</th>
<th>Assigned To</th>
</tr>

<% @tasks.each do |t| %>
  <tr>
    <td>
    <%= link_to "Edit", edit_project_task_path(@project, t) %>
    </td>

    <td>
    <%= t.content %>
    </td>

    <td>
    <% if t.deadline %>
      <%= t.human_time%>
    <% end %>
    </td>

    <td>
      <% if t.assignment %>
        <%= t.assignment.user.full_name %>
      <% else %>
        <%= form_with model: @assignment, url: '/assignments' do |f| %>
          <%= f.hidden_field :task_id, value: t.id %>
          <%= f.collection_select :user_id, @collaborators, :id, :first_name %>
          <%= f.submit "Assign" %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>