<h1 class="title"><%= @project.title %></h1>
<p class="description"><%= @project.description %></p>

<%= render partial: '/layouts/flash_message_center' %>

<p>Project Owners: 

<% @owners.each do |owner| %>
  <%= owner.full_name%><%= ", " unless owner == @owners.last%>
<% end %>
 — <%= link_to "View and add collaborators", project_permissions_path(@project) %>

<p>Due date: <%= @project.human_time %> — <%= link_to "Edit project details", edit_project_path(@project) %></p>

<h2>Tasks <%= link_to new_project_task_path(@project) do %><div class="add"></div><% end %></h2>

<h3><%= link_to "Create a new section", new_project_section_path(@project) %></h3>

<% if @loose_tasks %>

<table>
    <tr>
    <th></th>
    <th>Task</th>
    <th>Deadline</th>
    <th>Assigned To</th>
    </tr>

  <% @loose_tasks.where.not(status: "complete").each do |t| %>
    <tr>
      <%= render partial: '/tasks/task_list', locals: {t: t, assignment: @assignment, collaborators: @collaborators, project: @project } %>
    </tr>
  <% end %>

  <% @loose_tasks.where(status: "complete").each do |t| %>
    <tr class="completed-content">
      <%= render partial: '/tasks/task_list', locals: {t: t, assignment: @assignment, collaborators: @collaborators, project: @project } %>
    </tr>
  <% end %>


  </table>
<% end %>

<% @sections.each do |section| %>
  <h3><%= section.name %></h3>

    <% if section.tasks %>

    <table>
      <tr>
      <th></th>
      <th>Task</th>
      <th>Deadline</th>
      <th>Assigned To</th>
      </tr>

    <% section.tasks.where.not(status: "complete").each do |t| %>
      <tr>
        <%= render partial: '/tasks/task_list', locals: {t: t, assignment: @assignment, collaborators: @collaborators, project: @project } %>
      </tr>
    <% end %>

    <% section.tasks.where(status: "complete").each do |t| %>
      <tr class="completed-content">
        <%= render partial: '/tasks/task_list', locals: {t: t, assignment: @assignment, collaborators: @collaborators, project: @project } %>
      </tr>
    <% end %>

    </table>
  <% end %>
<% end %>