<h1>Permissions: <%= @project.title %></h1>

<h3>Current Collaborators</h3>
<table>
<th>
Name
</th>
<th>
Email
</th>
<th>
Access Level
</th>
<% if @project.verify_owner(current_user) %>
  <th>
  Actions
  </th>
<% end %>

<% @collaborator_list.each do |collaborator|%>
  <tr>
    <td>
      <%= collaborator[0].full_name %>
    </td>
    <td>
      <%= collaborator[0].email %>
    </td>
    <td>
      <%= collaborator[1].titlecase %>
    </td>
    <% if @project.verify_owner(current_user) %>
    <td>
      <div class="icon-container">
        <%= link_to edit_project_permission_path(@project, collaborator[2]) do %><div class="edit icon"></div><% end %>
        <%= link_to project_permission_path(@project, collaborator[2]) do %><div class="delete icon"></div><% end %>
      </div>
    </td>
    <% end %>
  </tr>
<% end %>
</table>


<% if @project.verify_owner(current_user) %>

  <h3>Invite a New Collaborator</h3>
  <p>To add a new collaborator to your project:</p>
  <ol>
  <li>Make sure they have an account on Tandem</li>
  <li>Select a level of access to grant your new collaborator</li>
  <li>Enter their email below to send an invite</li>
  </ol> 

  <%= render partial: '/layouts/flash_message_center' %>

  <%= form_with(model: @permission, url: [@project, @permission], local: true) do |f| %>
  <div>
  <label>Select Access Level: </label>
  <%= f.select :access_level, ["owner", "manager", "contributor"] %>
  </div>

  <div>
  <label>Email: </label>
  <%= f.email_field :user_email %>
  </div>
  
  <%= f.hidden_field :project_id, value: @project.id %>
  <%= f.hidden_field :creator_id, value: current_user.id %>

  <%= f.submit "Invite Collaborator "%>
  <% end %>

<% end %>

<p>Back to <%= link_to @project.title, project_path(@project) %></p>