<%= render partial: '/layouts/flash_message_center' %>

<% if @invitations %>
<h2>You have <%= pluralize(@invitations.count, "invitation")%> to join a project!</h2>

  <% @invitations.each do |i| %>

    <h3><%= i.project.title %></h3>
    <p>Invited to join by <%= i.creator.full_name %></p>

    <p>You have been given access level: <%= i.access_level.titlecase %></p>

    <p>Click to accept this invitation:</p>

    <%= form_with(model: i, url: [i.project, i]) do |f| %>
    <%= f.hidden_field :accepted, value: true %>
    <%= f.submit "Accept Invitation" %>
    <% end %>

  <% end %>

<% end %>