<!DOCTYPE html>
<html>
  <head>
    <title>Tandem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="all-wrapper">
      <div id="nav-wrap">
      <img id="logo" src="/images/logo.png" alt="Tandem Logo">
      <nav>
        <% if current_user %>
          <div><%= link_to "Projects", projects_path %></div>
          <div><%= link_to "Logout", logout_path %></div>
        <% else %>
          <div><%= link_to "Log In", login_path %></div>
          <div><%= link_to "Sign up", new_user_path %></div>
        <% end %>

      </nav>
      
      </div>
      <div id="content-wrap">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
