<!DOCTYPE html>
<html>
  <head>
    <title>Tandem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="all-wrapper">
      <div id="nav-wrap">
      <img id="logo" src="/images/logo.png" alt="Tandem Logo">
      <nav>
        <%= link_to "Projects", projects_path %>   
      </nav>
      
      </div>
      <div id="content-wrap">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
